<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Panel administracyjny</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
  <p class="notification-bar" th:if="${notification}" th:text="${notification}">
    Belka z powiadomieniami
  </p>
  <h2 class="list-heading">Panel administracyjny</h2>
  <ul class="list-border">
    <li><a href="#" th:href="@{/admin/dodaj-film}">Dodaj film</a></li>
    <li><a href="#" th:href="@{/admin/dodaj-gatunek}">Dodaj gatunek</a></li>
  </ul>
</main>
</body>
</html>