<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Dodaj nowy gatunek filmowy</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
  <h2 class="list-heading">Dodaj nowy gatunek filmowy</h2>
  <form action="" method="post" class="mc-form" th:object="${genre}">
    <label for="genreName">Nazwa</label>
    <input type="text" id="genreName" placeholder="np. Horror" th:field="*{name}">
    <label for="movieShortDescription">Opis - max 500 znaków</label>
    <textarea id="movieShortDescription" rows="5" th:field="*{description}"></textarea>
    <button type="submit">Dodaj</button>
  </form>
</main>
</body>
</html>