<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Gatunki filmowe - MovieApp</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
  <h2 class="list-heading">Gatunki filmowe</h2>
  <p class="list-description">
    Poniżej znajdziesz listę gatunków filmowych w naszym katalogu.
    Wybierz coś dla siebie.
  </p>
  <ul class="list-border">
    <li th:each="genre: ${genres}">
      <a th:href="@{|/gatunek/${genre.name}|}"
         th:text="${genre.name}">
        Horror
      </a>
    </li>
  </ul>
</main>
</body>
</html>