<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Tytuł filmu - MovieApp</title>
</head>
<body>
<div class="container">
  <main class="main-content" layout:fragment="content">
    <section class="movie">

      <div class="movie-summary">

        <img src="../static/img/poster-placeholder.png"
             alt="tytuł filmu"
             class="movie-summary-cover"
        />

        <div class="movie-summary-info">
          <h1 class="movie-summary-title">Władca pierścieni</h1>
          <p class="movie-summary-original-title">Lord of the rings</p>
          <p class="movie-summary-item">Rok: 2001</p>
          <p class="movie-summary-item">Gatunek: <a href="#">Fantasy</a></p>
          <p class="movie-summary-item">
            Podróż odważnego hobbita i jego towarzyszy w poszukiwaniu pierścienia.
          </p>
        </div>
      </div>

      <div class="movie-rating-container movie-section">
        <h2 class="movie-section-heading">Ocena</h2>
        <div>
          <p class="movie-rating-value" th:text="${avgRating}">4.0</p>
          <p>Liczba ocen: 134</p>
        </div>
        <form action="#" class="movie-rating-form">

          <p>Twoja ocena</p>
          <input type="hidden" name="movieId">
          <div class="movie-rating-buttons">
            <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="movie-rating-button"><i class="fa-regular fa-star"></i></button>
          </div>
        </form>
        <p><a href="#">Zaloguj się</a>, aby oddać głos</p>
      </div>
    </section>

    <section class="movie-trailer-container movie-section">
      <h2 class="movie-section-heading">Trailer</h2>
      <iframe width="560" height="315" class="movie-trailer"
              src="https://www.youtube.com/embed/V75dMMIW2B4"
              frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </section>

    <section class="movie-section">
      <h2 class="movie-section-heading">Opis</h2>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
        odio, vestibulum in vulputate at,
        tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
        faucibus.</p>
    </section>
  </main>
</div>
</body>
</html>