<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:if="${movie}" th:text="|${movie.title} - MovieApp|">Tytuł filmu - MovieApp</title>
</head>
<body>
<div class="container">
  <main class="main-content" layout:fragment="content">

    <h2 class="list-heading" th:text="${heading}">Promowane filmy / Nazwa Kategorii</h2>

    <p class="list-description" th:text="${description}">Opis sekcji, przykładowo opis kategorii, albo strony głównej</p>

    <ul class="movie-list" th:remove="all-but-first">

      <li class="movie-list-item" th:each="movie: ${movies}">

        <a href="#" th:href="@{|/film/${movie.id}|}">

          <img src="../static/img/poster-placeholder.png"
               th:src="${movie.poster ne null} ? @{|/img/${movie.poster}|} : @{/img/poster-placeholder.png}"
               alt="tytuł filmu"
               class="movie-list-item-poster">
        </a>
        <div class="movie-list-item-card">
          <div class="movie-list-item-content">
            <h3 class="movie-list-item-title">

              <a href="#" th:href="@{|/film/${movie.id}|}" th:text="${movie.title}">Tytuł filmu</a>
            </h3>

            <h4 th:text="${movie.originalTitle}">Angielski tytuł filmu</h4>

            <p th:text="${movie.releaseYear}">1999</p>
          </div>
          <div class="movie-list-item-rating">
            <i class="fas fa-star"></i>
            <span>8.7</span>
          </div>
        </div>
      </li>
      <li class="movie-list-item">
        <a href="#">
          <img src="../static/img/poster-placeholder.png"
               alt="tytuł filmu"
               class="movie-list-item-poster">
        </a>
        <div class="movie-list-item-card">
          <div class="movie-list-item-content">
            <h3 class="movie-list-item-title">
              <a href="#">Tytuł filmu</a>
            </h3>
            <h4>Angielski tytuł filmu</h4>
            <p>1999</p>
          </div>
          <div class="movie-list-item-rating">
            <i class="fas fa-star"></i>
            <span>8.7</span>
          </div>
        </div>
      </li>
      <li class="movie-list-item">
        <a href="#">
          <img src="../static/img/poster-placeholder.png"
               th:src="${movie.poster ne null} ? @{|/img/${movie.poster}|} : @{/img/poster-placeholder.png}"
               alt="tytuł filmu"
               class="movie-list-item-poster">
        </a>
        <div class="movie-list-item-card">
          <div class="movie-list-item-content">
            <h3 class="movie-list-item-title">
              <a href="#">Tytuł filmu</a>
            </h3>
            <h4>Angielski tytuł filmu</h4>
            <p>1999</p>
          </div>
          <div class="movie-list-item-rating">
            <i class="fas fa-star"></i>
            <span>8.7</span>
          </div>
        </div>
      </li>
    </ul>
  </main>
</div>
</body>
</html>