<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>MovieClub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <script defer src="../static/scripts/common.js"></script>
  <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
<div class="container">
  <ul class="menu">
    <li class="menu-logo-container">
      <a href="#">
        <i class="fas fa-film logo"></i> MovieClub
      </a>
    </li>
    <li class="menu-toggle">
      <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
    </li>
    <li class="menu-item">
      <a href="#">Gatunki</a>
    </li>
    <li class="menu-item">
      <a href="#">Top10</a>
    </li>
    <li class="menu-item">
      <a href="#">Zaloguj się</a>
    </li>
  </ul>
  <main class="main-content">
    <h2 class="list-heading">Promowane filmy / Nazwa Kategorii</h2>
    <p class="list-description">Opis sekcji, przykładowo opis kategorii, albo strony głównej</p>
    <ul class="movie-list">
      <li class="movie-list-item">
        <a href="#">
          <img src="../static/img/poster-placeholder.png"
               alt="tytuł filmu"
               class="movie-list-item-poster">
        </a>
        <div class="movie-list-item-card">
          <div class="movie-list-item-content">
            <h3 class="movie-list-item-title">
              <a href="#">Tytuł filmu</a>
            </h3>
            <h4>Angielski tytuł filmu</h4>
            <p>1999</p>
          </div>
          <div class="movie-list-item-rating">
            <i class="fas fa-star"></i>
            <span>8.7</span>
          </div>
        </div>
      </li>
      <li class="movie-list-item">
        <a href="#">
          <img src="../static/img/poster-placeholder.png"
               alt="tytuł filmu"
               class="movie-list-item-poster">
        </a>
        <div class="movie-list-item-card">
          <div class="movie-list-item-content">
            <h3 class="movie-list-item-title">
              <a href="#">Tytuł filmu</a>
            </h3>
            <h4>Angielski tytuł filmu</h4>
            <p>1999</p>
          </div>
          <div class="movie-list-item-rating">
            <i class="fas fa-star"></i>
            <span>8.7</span>
          </div>
        </div>
      </li>
      <li class="movie-list-item">
        <a href="#">
          <img src="../static/img/poster-placeholder.png"
               alt="tytuł filmu"
               class="movie-list-item-poster">
        </a>
        <div class="movie-list-item-card">
          <div class="movie-list-item-content">
            <h3 class="movie-list-item-title">
              <a href="#">Tytuł filmu</a>
            </h3>
            <h4>Angielski tytuł filmu</h4>
            <p>1999</p>
          </div>
          <div class="movie-list-item-rating">
            <i class="fas fa-star"></i>
            <span>8.7</span>
          </div>
        </div>
      </li>
    </ul>
  </main>
  <footer class="footer">
    <p>Sikora (Backend) Ksiazek (FrontEnd) Ciochon(DataBase)</p>
  </footer>
</div>
</body>
</html>