<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MovieClub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
  <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
  <ul class="menu">
    <li class="menu-logo-container">
      <a href="#" th:href="@{/}">
        <i class="fas fa-film logo"></i> MovieClub
      </a>
    </li>
    <li class="menu-toggle">
      <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
    </li>
    <li class="menu-item">
      <a href="#">Gatunki</a>
    </li>
    <li class="menu-item">
      <a href="#">Top10</a>
    </li>
    <li class="menu-item">
      <a href="#">Zaloguj się</a>
    </li>
  </ul>
  <header class="jumbotron">
    <h1 class="jumbotron-header">Movie Club</h1>
    <p class="jumbotron-description">
      Witaj w najlepszej bazie filmów w sieci. Oceniaj i dyskutuj o najnowszych produkcjach i klasykach kina.
    </p>
  </header>
  <main class="main-content">
    <section class="movie">
      <!-- Podsumowanie -->
      <div class="movie-summary">
        <!-- Plakat -->
        <img src="../static/img/poster-placeholder.png"
             alt="tytuł filmu"
             class="movie-summary-cover"
        />
        <!-- informacje o filmie -->
        <div class="movie-summary-info">
          <h1 class="movie-summary-title">Władca pierścieni</h1>
          <p class="movie-summary-original-title">Lord of the rings</p>
          <p class="movie-summary-item">Rok: 2001</p>
          <p class="movie-summary-item">Gatunek: <a href="#">Fantasy</a> </p>
          <p class="movie-summary-item" >
            Podróż odważnego hobbita i jego towarzyszy w poszukiwaniu pierścienia.
          </p>
        </div>
      </div>
      <!-- Ocena -->
      <div class="movie-rating-container movie-section">
        <h2 class="movie-section-heading">Ocena</h2>
        <div>
          <p class="movie-rating-value" th:text="${avgRating}">4.0</p>
          <p>Liczba ocen: 134</p>
        </div>
        <form action="#" class="movie-rating-form">
          <!-- Identyfikator filmu, na który głosujemy-->
          <p>Twoja ocena</p>
          <input type="hidden" name="movieId">
          <div class="movie-rating-buttons">
            <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="movie-rating-button"><i class="fa-regular fa-star"></i></button>
          </div>
        </form>
        <p><a href="#">Zaloguj się</a>, aby oddać głos</p>
      </div>
    </section>
    <section class="movie-trailer-container movie-section">
      <h2 class="movie-section-heading">Trailer</h2>
      <iframe width="560" height="315" class="movie-trailer"
              src="https://www.youtube.com/embed/V75dMMIW2B4"
              frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </section>
    <section class="movie-section">
      <h2 class="movie-section-heading">Opis</h2>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at,
        tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    </section>
  </main>
  <footer class="footer">
    <p>Sikora (Backend) Ksiazek (FrontEnd) Ciochon(DataBase)</p>
  </footer>
</div>
</body>
</html>