<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MovieClub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
  <link rel="stylesheet" href="../static/styles/common.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
  <ul class="menu">
    <li class="menu-logo-container">
      <!-- Dynamicznie budowany adres do strony głównej -->
      <a href="#" th:href="@{/}">
        <i class="fas fa-film logo"></i> MovieClub
      </a>
    </li>
    <li class="menu-toggle">
      <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
    </li>
    <li class="menu-item">
      <a href="#">Gatunki</a>
    </li>
    <li class="menu-item">
      <a href="#">Top10</a>
    </li>
    <li class="menu-item">
      <a href="#">Zaloguj się</a>
    </li>
  </ul>
  <header class="jumbotron">
    <h1 class="jumbotron-header">Movie Club</h1>
    <p class="jumbotron-description">
      Witaj w najlepszej bazie filmów w sieci. Oceniaj i dyskutuj o najnowszych produkcjach i klasykach kina.
    </p>
  </header>
  <main class="main-content">
    <!-- Nagłówek pobieramy z modelu -->
    <h2 class="list-heading" th:text="${heading}">Promowane filmy / Nazwa Kategorii</h2>
    <!-- Opis pobieramy z modelu -->
    <p class="list-description" th:text="${description}">Opis sekcji, przykładowo opis kategorii, albo strony głównej</p>
    <!-- Zostawiamy tylko pierwszy element <li> -->
    <ul class="movie-list" th:remove="all-but-first">
      <!-- Pętla po wszystkich filmach z modelu -->
      <li class="movie-list-item" th:each="movie: ${movies}">
        <!-- Link do strony pojedynczego filmu typu /film/5 -->
        <a href="#" th:href="@{|/film/${movie.id}|}">
          <!-- Po uruchomieniu aplikacji ścieżka do placeholdera plakatu wygląda nieco inaczej -->
          <img src="../static/img/poster-placeholder.png"
               th:src="@{/img/poster-placeholder.png}"
               alt="tytuł filmu"
               class="movie-list-item-poster">
        </a>
        <div class="movie-list-item-card">
          <div class="movie-list-item-content">
            <h3 class="movie-list-item-title">
              <!-- Link do strony pojedynczego filmu typu /film/5 -->
              <a href="#" th:href="@{|/film/${movie.id}|}" th:text="${movie.title}">Tytuł filmu</a>
            </h3>
            <!-- Tytuł filmu -->
            <h4 th:text="${movie.originalTitle}">Angielski tytuł filmu</h4>
            <!-- Rok premiery filmu -->
            <p th:text="${movie.releaseYear}">1999</p>
          </div>
          <div class="movie-list-item-rating">
            <i class="fas fa-star"></i>
            <span>8.7</span>
          </div>
        </div>
      </li>
      <li class="movie-list-item">
        <a href="#">
          <img src="../static/img/poster-placeholder.png"
               alt="tytuł filmu"
               class="movie-list-item-poster">
        </a>
        <div class="movie-list-item-card">
          <div class="movie-list-item-content">
            <h3 class="movie-list-item-title">
              <a href="#">Tytuł filmu</a>
            </h3>
            <h4>Angielski tytuł filmu</h4>
            <p>1999</p>
          </div>
          <div class="movie-list-item-rating">
            <i class="fas fa-star"></i>
            <span>8.7</span>
          </div>
        </div>
      </li>
      <li class="movie-list-item">
        <a href="#">
          <img src="../static/img/poster-placeholder.png"
               alt="tytuł filmu"
               class="movie-list-item-poster">
        </a>
        <div class="movie-list-item-card">
          <div class="movie-list-item-content">
            <h3 class="movie-list-item-title">
              <a href="#">Tytuł filmu</a>
            </h3>
            <h4>Angielski tytuł filmu</h4>
            <p>1999</p>
          </div>
          <div class="movie-list-item-rating">
            <i class="fas fa-star"></i>
            <span>8.7</span>
          </div>
        </div>
      </li>
    </ul>
  </main>
  <footer class="footer">
    <p>Sikora (Backend) Ksiazek (FrontEnd) Ciochon(DataBase)</p>
  </footer>
</div>
</body>
</html>