/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    color: white;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #ffc107;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #424242;
}

.main-content {
    flex: 1;
}


.logo,
#toggle-icon {
    color: #ffc107;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-item {
    width: 100%;
    padding: 16px;
    border-bottom: 1px #6d6d6d solid;
    text-align: center;
    display: none;
}
.expanded > .menu-item {
    display: block;
}
.menu-logo-container,
.menu-toggle {
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.footer {
    padding: 8px;
    text-align: center;
}

/*Responsive*/
@media only screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }

    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }

    .menu-logo-container {
        flex: 1;
    }

    .main-content,
    .menu {
        align-self: center;
        width: 960px;
    }
}

.jumbotron {
    background-image: url("../img/jumbotron1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    text-align: center;
}
.jumbotron-header {
    font-size: 3rem;
    margin: 1rem 0;
}
.jumbotron-description {
    font-size: 1.2rem;
}

/*Nagłówek*/
.list-heading,
.list-description {
    text-align: center;
    margin: 16px 0;
}
.movie-list {
    list-style-type: none;
}
.movie-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px #6d6d6d solid;
}
.movie-list-item-poster {
    display: block;
    max-width: 200px;
}
.movie-list-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}
.movie-list-item-content > * {
    margin: 8px 0;
}
.movie-list-item-title {
    font-size: 1.6rem;
}
.movie-list-item-rating {
    font-size: 1.6rem;
}
.movie-summary {
    display: flex;
    margin-top: 16px;
}
.movie-summary-cover {
    object-fit: contain;
    max-width: 200px;
}
.movie-summary-info {
    margin-left: 16px;
}
.movie-summary-original-title {
    color: #9e9e9e;
    margin-bottom: 16px;
}
.movie-summary-item {
    margin: 8px 0;
}
.movie-summary-title {
    font-size: 2rem;
}
.movie-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}
.movie-rating-form > p {
    text-align: center;
    margin-bottom: 16px;
}
.movie-rating-value {
    font-size: 4rem;
    text-align: center;
}
.movie-rating-button {
    background-color: #ffc107;
    border: 0;
    padding: 4px;
    font-size: 1.6rem;
    border-radius: 4px;
    opacity: 0.8;
}
.movie-rating-button:hover {
    opacity: 1;
}
.movie-rating-container > * {
    margin: 8px 0;
}
.movie-section {
    margin-top: 16px;
    padding: 16px;
    border: 1px #6d6d6d solid;
}
.movie-section-heading {
    margin-bottom: 8px;
}

.movie-trailer {
    display: block;
    margin: auto;
}
@media only screen and (min-width: 992px) {
    .movie {
        display: flex;
        justify-content: space-between;
    }
    .movie-rating-buttons {
        display: flex;
        flex-wrap: nowrap;
    }

    .movie-rating-button {
        font-size: 1.2rem;
        margin: 0 4px;
    }
}