/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    color: #EEEEEE;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: #00ADB5;
}

.link {
    position: relative;
    color: #00ADB5;
    padding: 10px 20px;
}

.link,
.link::before,
.link::after {
    transition: 0.3s;
}

.one::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    background-color: #00ADB5;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.one:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #393E46;
}

.main-content {
    flex: 1;
}


.logo,
#toggle-icon {
    color: #00ADB5;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    width: 100%;
    padding: 16px;
    border-bottom: 1px #6d6d6d solid;
    text-align: center;
    display: none;
}

.expanded > .menu-item {
    display: block;
}

.menu-logo-container,
.menu-toggle {
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.footer {
    padding: 8px;
    text-align: center;
}

.jumbotron {
    position: relative;
    background-image: url("../img/hero-bg.jpg");
    background-position: 42% 98%;
    background-repeat: no-repeat;
    padding: 2rem;
    text-align: center;
}
.jumbotron-header {
    font-size: 3rem;
    margin: 1rem 0;
    z-index: 1;
    color: #fff;
}
.jumbotron-description {
    font-size: 1.2rem;
    color: #fff;
    z-index: 1;
}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .1);
    z-index: -1;
}

.list-heading,
.list-description {
    text-align: center;
    margin: 16px 0;
}
.movie-list {
    list-style-type: none;
}
.movie-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px #6d6d6d solid;
}
.movie-list-item-poster {
    display: block;
    max-width: 200px;
}
.movie-list-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}
.movie-list-item-content > * {
    margin: 8px 0;
}
.movie-list-item-title {
    font-size: 1.6rem;
}
.movie-list-item-rating {
    font-size: 1.6rem;
}
.movie-summary {
    display: flex;
    margin-top: 16px;
}
.movie-summary-cover {
    object-fit: contain;
    max-width: 200px;
}
.movie-summary-info {
    margin-left: 16px;
}
.movie-summary-original-title {
    color: #9e9e9e;
    margin-bottom: 16px;
}
.movie-summary-item {
    margin: 8px 0;
}
.movie-summary-title {
    font-size: 2rem;
}
.movie-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}

.movie-rating-form > p {
    text-align: center;
    margin-bottom: 16px;
}

.movie-rating-value {
    font-size: 4rem;
    text-align: center;
}
.movie-rating-button {
    background-color: #00ADB5;
    border: 0;
    padding: 4px;
    font-size: 1.6rem;
    border-radius: 4px;
    opacity: 0.8;
}
.movie-rating-button:hover {
    opacity: 1;
}
.movie-rating-container > * {
    margin: 8px 0;
}
.movie-section {
    margin-top: 16px;
    padding: 16px;
    border: 1px #6d6d6d solid;
}
.movie-section-heading {
    margin-bottom: 8px;
}

.movie-trailer {
    display: block;
    margin: auto;
}

@media only screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }

    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }

    .menu-logo-container {
        flex: 1;
    }

    .main-content,
    .menu {
        align-self: center;
        width: 960px;
    }
}

@media only screen and (min-width: 992px) {
    .movie {
        display: flex;
        justify-content: space-between;
    }
    .movie-rating-buttons {
        display: flex;
        flex-wrap: nowrap;
    }
    .movie-rating-button {
        font-size: 1.2rem;
        margin: 0 4px;
    }
}
.error-container {
    margin: 32px auto;
}
.error-container > * {
    display: block;
    text-align: center;
}
.error-header,
.error-icon {
    font-size: 2rem;
    margin: 16px 0;
}
.mc-form > input,
.mc-form > textarea,
.mc-form > button,
.mc-form > select {
    font-size: 1.2rem;
    color: black;
    padding: 8px;
}

.mc-form > input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 5px;
}

.mc-form > input[type=file] {
    color: #EEEEEE;
}

.list-border {
    margin: auto;
    list-style: none;
}
.list-border > li {
    font-size: 1.2rem;
    border: 1px #6d6d6d solid;
    padding: 16px;
    text-align: center;
}


textarea {
    font-family: inherit;
}

.mc-form {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.mc-form > * {
    margin-top: 8px;
}

.mc-form > input,
.mc-form > textarea,
.mc-form > button {
    font-size: 1.2rem;
    color: black;
    padding: 8px;
}
.mc-form > button {
    margin-top: 16px;
    background-color: #EEEEEE;
    color: #00ADB5;
    border: none;
}

.notification-bar {
    text-align: center;
    background-color: #00ADB5;
    padding: 8px 0;
}